.slide {
    position: relative;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.slide img {
    max-width: 100%;
}

.wrapper {
    position: relative;
    padding-bottom: 20px;
    width: 100%;
}

.prev {
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.next {
    right: 0;
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.prev, .next {
    position: absolute;
    top: calc(50% - 39px);
    display: block;
    height: 79px;
    width: 79px;
    text-align: center;
    background: rgba(255, 255, 255, 0.5);
    font-size: 30px;
}

.prev:hover, .next:hover {
    background: rgba(255, 255, 255, 0.8);
}

.next:before, .prev:before {
    font-family: 'Roboto Condensed';
    content: "\61";
    display: block;
}

.slideImg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.notVisible .shop {
    transform: translate3d(-200px, 0, 0);
    opacity: 0;
}

.notVisible .pants {
    transform: translate3d(200px, 0, 0);
    opacity: 0;
}

.link {
    height: 100%;
    width: 100%;
    display: block;
}

.content {
	position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
	left: 0;
	display: flex;
}

/* Content Position */

.topLeft {
	align-items: start;
	justify-content: left;
}

.topCenter {
	align-items: start;
	justify-content: center;
}

.topRight {
	align-items: start;
	justify-content: right;
}

.middleLeft {
	align-items: center;
	justify-content: left;
}

.middleCenter {
	align-items: center;
	justify-content: center;
}

.middleRight {
	align-items: start;
	justify-content: right;
}

.bottomleft {
	align-items: flex-start;
	justify-content: center;
}


.bottomCenter {
	align-items: flex-end;
	justify-content: center;
}

.bottomRight {
	align-items: flex-end;
	justify-content: center;
}

.imageContainer {
    height: 100%;
    width: 100%;
}

.image {
    height: auto;
    width: 100%;
}

.doteLine {
    width: 23px;
    border: 0.5px solid black;
}

.dotWrapper {
    position: absolute;
    bottom: 3%;
    display: flex;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.dots {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    margin-top: 12px;
}

@media screen and (max-width: 768px) {
    .dots {
        height: 20px;
    }
}

.dot {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dotStyleWrapper {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 50%;
}

.dotStyleWrapper::before {
    content: '';
    width: 9px;
    height: 9px;
    border-radius: 50%;
    border: 0.5px solid black;
}

.dotWrapper button:disabled .dotStyleWrapper{
    border: 0.5px solid black
}

.dotWrapper button:disabled .dotStyleWrapper::before{
    background-color: black;
}


.dotWrapper:last-child  .dot:last-child span {
    display: none;
}

.dots > button {
    background: none;
    border: none;
    outline: none;
}

.dots > button > div:before {
    background: #d2d2d2;
    border: none;
    width: 12px;
    height: 12px;
}

.dots > button[disabled] > div:before {
    background: #5C94BD;
}

.dots > button > span {
    display: none;
}