.carouselWrapper {
    position: relative;
    width: 100%;
}

.imageContainer {
    height: auto;
    max-width: 250px;
    width: 100%;
    cursor: pointer;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none
}

.imageContainer:hover {
    background: #2B3944;
    opacity: 0.6;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-60%, -50%);
    display: none;
}

.content p {
    font-size: 18px;
    line-height: 37px;
    color: #FFFFFF;
}

.imageContainer:hover + .content {
    display: block;
}

/* Content Position */

.topLeft {
	align-items: start;
	justify-content: left;
}

.topCenter {
	align-items: start;
	justify-content: center;
}

.topRight {
	align-items: start;
	justify-content: right;
}

.middleLeft {
	align-items: center;
	justify-content: left;
}

.middleCenter {
	align-items: center;
	justify-content: center;
}

.middleRight {
	align-items: start;
	justify-content: right;
}

.bottomleft {
	align-items: flex-start;
	justify-content: center;
}

.bottomCenter {
	align-items: flex-end;
	justify-content: center;
}

.bottomRight {
	align-items: flex-end;
	justify-content: center;
}

@media screen and (max-width: 1190px) {
    .sliderWrapper {
        padding-left: 35px;
        padding-right: 15px;
    }
}

@media screen and (max-width: 1100px) {
    .sliderWrapper {
        padding-left: unset;
        padding-right: unset;
    }
}

@media screen and (max-width: 900px) {
    .imageContainer {
        max-width: 230px
    }
}

@media screen and (max-width: 810px) {
    .imageContainer {
        max-width: 200px;
    }
}

@media screen and (max-width: 680px) {
    .imageContainer {
        max-width: 150px;
    }
}

@media screen and (max-width: 515px) {
    .imageContainer {
        max-width: 130px;
    }
}

@media screen and (max-width: 490px) {
    .imageContainer {
        max-width: 114px;
    }

    .content p {
        font-size: 12px;
    }
}

@media screen and (max-width: 390px) {
    .imageContainer {
        max-width: 140px;
    }
}

@media screen and (max-width: 365px) {
    .imageContainer {
        max-width: 114px;
    }

    .content p {
        font-size: 12px;
    }
}