.root {
}

.table tr {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
    max-width: 891px;
    margin-top: 66px;
    column-gap: 50px;
}

.tableHeader tr {
    display: grid;
    grid-auto-flow: column;
    height: 42px;
    background: #eaf3f4;
    width: 100%;
    max-width: 891px;
    line-height: 42px;
    margin-top: 0;
}

.item {
    margin-top: 50px;
}

.items table {
    width: 100%;
    border-collapse: collapse;
}


.actions {
    margin-top: 30px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
}

.empty {
    min-height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.line {
    width: 100%;
    max-width: 889px;
    border: 1px solid #C4C4C4;
    margin-top: 43px;
}

@media screen and (max-width: 1050px) {
    tr {
        grid-template-columns: 1fr 1fr 1fr;
        max-width: 385px;
        margin-top: 0;
        column-gap: 10px;
    }
}

@media screen and (max-width: 768px) {
    .item {
        margin-top: 10px;
        max-width: 305px;
    }
}