.root {
    margin: 10px 0;
}

.crumb {
    display: inline-block;
}

.crumb::after {
    content: '/';
    margin: 0 5px;
}

.crumb:last-child::after {
    content: '';
}

.link {
    color: #c54747;
}