.component-selected {
    /* position: relative; */
}
  
.component-selected::after {
    content: ' ';
    --border-opacity: 1;
    border-color: #2680eb;
    border-color: rgba(38, 128, 235, var(--border-opacity));
    border-width: 1px;
    border-style: dashed;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    display: block;
}
  
.bg-dar-gray {
    background-color: #4b4b4b;
}
  
.flex {
    /* display: flex; */
}

.itemToolbar {
    display: flex;
    align-items: center;
    padding: 0 8px;
    color: white;
    background-color: #2D2D2D;
    border-radius: 4px;
}

.itemToolbar button {
    border: none;
    background: none;
}