:root {
    --dark-color: #000000;
}

.root {
    width: 100%;
    max-width: 1386px;
    margin: 0 auto;
}

body {
    margin: 0;
}

@font-face {
    font-family: "icons";
    src:url("../../fonts/icons/vmalldefaulttheme.eot");
    src:url("../../fonts/icons/vmalldefaulttheme.svg") format("svg"),
      url("../../fonts/icons/vmalldefaulttheme.ttf") format("ttf"),
      url("../../fonts/icons/vmalldefaulttheme.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@media screen and (max-width: 1641px) {
    :root {
        box-sizing: border-box;
    }
}

@media screen and (max-width: 740px) {
    :root {
        margin: unset;
        padding: 0 16px;
        box-sizing: border-box;
    }
}

a {
    color: inherit;
    text-decoration: none;
    color: var(--dark-color);
}
  
a:hover {
    color: var(--dark-color);
}