.root {
  background: #ffffff;
  border-radius: 0px 0px 7px 7px;
  box-sizing: border-box;
}

.root > div:nth-child(1) {
  margin-top: 26px;
}

.root > div:nth-child(2) {
  margin-top: 17px;
}

.title {
  color: #2d2d2d;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  text-transform: capitalize;
  padding-bottom: 7px;
}

.titleSec {
  padding-bottom: 16px;
}

.input {
  width: 100%;
  background-color: #fff;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #e5e5e5;
  padding: 10px 17px;
  font-size: 10px;
  font-weight: normal;
  line-height: 12px;
  outline: none;
  opacity: 0.5;
}

.input:focus {
  opacity: unset;
}
