.root {
  display: inline-flex;
  align-items: center;
  margin-top: 25px;
}

.label {
  margin-right: 11px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
}

.perPageSelect div {
  position: relative;
  display: inline-block;
}

.perPageSelect div p {
  position: relative;
  color: #1f1d2b;
  font-size: 16px;
  line-height: 22px;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 5px;
  min-width: 70px;
  text-align: left;
  font-weight: normal;
  margin: 0;
  cursor: pointer;
}

.perPageSelect div p span {
  display: block;
  position: relative;
  z-index: 999;
  text-align: center;
  padding-top: 7px;
  padding-bottom: 6px;
}

.perPageSelect div p span:after {
  font-family: "foodIcons";
  content: "\e906";
  margin-left: 15px;
  font-size: 6px;
  box-sizing: border-box;
  vertical-align: middle;
}

.perPageSelect div:not(.open) ul {
  display: none;
}

.perPageSelect div ul {
  padding: 0;
  list-style: none;
  margin: 0;
  font-size: 16px;
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  z-index: 999;
  max-height: 140px;
  background: #ffffff;
  border-radius: 0px 0px 7px 7px;
  overflow-y: auto;
  overflow-x: hidden;
}

.perPageSelect div ul li {
  padding: 7px 0;
  border-top: 1px solid #e8e6e0;
  color: #1f1f32;
  text-align: center;
  line-height: 18.75px;
  cursor: pointer;
}

.perPageSelect div ul li:first-child {
  border-top: unset;
}

.perPageSelect div ul li:hover {
  background-color: #ffb800;
}

@media (max-width: 576px) {
  .root {
    margin-top: 0;
    margin-bottom: 25px;
  }
}
