.settings {
    display: flex;
    margin: 4px;
    background: #e4e4e4;
    padding: 3px;
    flex-wrap: wrap;
    gap: 12px;
}

.maxDepth .maxDepthInput {
    width: 30px;
}

.root .preview {
    margin: 20px;
}

.root .preview ul {
    padding-left: 20px;
    list-style: none;
}