.root {
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: #fff;
    width: 100%;
    max-width: 943px;
    transform: translate(-50%, -50%);
    font-size: 14px;
    max-height: 90%;
    overflow-x: hidden;
    overflow-y: auto;
    box-sizing: border-box;
    z-index: 109 !important;
    padding: 55px 90px;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
}

.closeIconField {
    position: absolute;
    right: 28px;
    top: 25px;
    cursor: pointer;
}

.closeIcon {
    composes: icon from '../IconMoon/iconMoon.module.css';
    font-size: 16px;
    color: #2B525A;
}

.form {
}

.titleField {
    text-align: center;
}

.title {
    font-size: 24px;
    color: #2B525A;
    font-weight: 400;
    margin: 0;
}

.flex {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 762px;
    margin: auto;
}

.field {
    width: 100%;
    margin-right: 28px;
}

.field:last-child {
    margin-right: 0;
}

.textArea {
    width: 100%;
    max-width: 762px;
    margin: auto;
    margin-top: 30px;
}

.rating {
    display: flex;
    align-items: center;
    max-width: 762px;
    margin: auto;
    margin-top: 23px;
}

.ratingTextField {
    margin-left: 21px;
}

.ratingText {
    color: #00414B;
    font-size: 12px;
}

.actions {
    display: flex;
    justify-content: flex-end;
    max-width: 762px;
    margin: auto;
    margin-top: 60px;
}

.button {
    min-width: 176px;
    height: 47px;
    font-size: 18px;
    color: #FFF2F2;
    line-height: 47px;
    text-align: center;
    background: #1B1A1A;
    outline: none;
    border: none;
    cursor: pointer;
    font-family: "Arial AMU";
}

.message {
    margin-top: 10px;
}

.existingCouponCode {
    margin: 20px 0;
}

.validationError {
    color: #D32626;
    font-size: 10px;
    margin-top: 3px;
}

.flex {
    width: 100%;
    max-width: 762px;
    margin: auto;
    margin-top: 26px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 28px;
}

.input {
    composes: input from '../TextInput/textInput.module.css';
    max-width: 100%;
    padding: 7px 16px;
    color: #2B3944;
    height: 155px;
}

@media screen and (max-width: 992px) {
    .root {
        max-width: 890px;
    }
}

@media screen and (max-width: 930px) {
    .root {
        max-width: 850px;
    }
}

@media screen and (max-width: 900px) {
    .root {
        max-width: 800px;
    }
}

@media screen and (max-width: 845px) {
    .root {
        max-width: 730px;
    }
}

@media screen and (max-width: 768px) {
    .root {
        max-width: 500px;
        overflow-y: unset;
        overflow-x: unset;
    }

    .title {
        font-size: 18px;
    }

    .form {
        max-width: 367px;
        margin: 0 auto;
    }
    .rating {
        flex-direction: column-reverse
    }
    .ratingTextField{
        margin-bottom: 7px;
        margin-left: 0;
    }
    .actions {
        justify-content: center;
    }
    .input{
        min-height: 150px;
    }

}

@media screen and (max-width: 550px) {
    .root {
        max-width: 450px;
        padding: 55px 50px;
    }
}

@media screen and (max-width: 490px) {
    .root {
        max-width: 380px;
    }
}

@media screen and (max-width: 415px) {
    .root {
        max-width: 340px;
        padding: 32px 50px;
    }

    .actions {
        margin-top: 30px;
    }
}

@media screen and (max-width: 372px) {
    .root {
        max-width: 300px;
        padding: 32px 20px;
    }
}
