.title {
    color: #00414B;
}

.phoneOrEmail {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}

.phoneOrEmail span {
    color: #5C94BD;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    font-weight: 300;
}

.phoneOrEmail span:hover {
    border-bottom: none;
}

.phoneOrEmail span:after {
    display: block;
    content: '';
    border-bottom: 1px solid #5C94BD;
    transform: scaleX(0);
    transition: transform .25s ease-in-out;
}

.phoneOrEmail span.active {
    font-weight: 400;
}

.leftIcon {
    float: left;
    margin-top: 15px;
    color: #5C94BD;
    cursor: pointer;
}

.phoneAction, .emailAction {
    padding: 5px;
    box-sizing: border-box;
    border: none;
    border-radius: 30px;
    width: 100%;
    max-width: 147px;
    color: #000000;
    background: #F9F1EB;
    cursor: pointer;
}

.emailAction {
    margin-left: 16px;
}

.phoneAction.active, .emailAction.active {
    background: #fff;
    border: 1px solid #000000;
}

.input {
    composes: input from '../TextInput/textInput.module.css';
    max-width: 400px;
    padding: 12px;
    color: #2B3944;
}

.input:focus {
    outline: none;
}

.phoneFieldInput {
    width: 100%;
    font-size: 16px !important;
    background-color: #fff !important;
    color: #101010 !important;
    max-width: 370px !important;
    padding: 12px !important;
    border: none !important;
    border-bottom: 1px solid #000 !important;
    margin-top: 33px !important;
}

.phoneFieldInput:focus {
    outline: none;
}

.buttons {
    text-align: center;
}

.button {
    composes: button from '../Button/button.module.css';
    background: #1B1A1A;
    margin-top: 168px;
    max-width: 294px;
    width: 100%;
    height: 45px;
}

.button:hover {
    background: #1B1A1A;
    color: #fff;
}

.button:focus {
    outline: none;
}

.button span {
    font-size: 18px;
    line-height: 21px;
    color: #FFF2F2;
    font-family: 'Arial AMU';
}

.buttonCancel {
    composes: button;
    margin-top: 20px;
    background-color: transparent;
    border: 1px solid #1B1A1A;
}

.buttonCancel:hover {
    background-color: #1B1A1A;
    color: #FFFFFF;
}

.buttonCancel .cancel {
    font-size: 18px;
    line-height: 21px;
    color: #1B1A1A;
    font-family: 'Arial AMU';
}

.buttonCancel:hover .cancel {
    color: #FFFFFF;
}

.field {
    max-width: 400px;
    margin-bottom: 20px;
    margin: auto;
}


.cancelField {
    margin-top: 32px;
    margin-bottom: 50px;
}

.cancel {
    cursor: pointer;
}

.validationError {
    font-size: 12px;
    margin-top: 5px;
    text-align: left;
    color: red;
    font-weight: 300;
    position: absolute;
    top: 40px;
}

.errorField {
    text-align: center;
    margin: 15px auto;
    color: red;
}

.successField {
    text-align: center;
    margin: 15px auto;
    color: green;
}
