.root {
    display: flex;
    flex-direction: column;
    margin-top: 23px;
}

.title {
    font-size: 13px;
    line-height: 211.7%;
    color: #000000;
    margin-right: 20px;
    font-weight: bold;
}

.selection {
    font-size: 1rem;
    line-height: 1.5;
    margin-top: 1rem;
    display: flex;
}

.selectionLabel {
    margin-right: 1rem;
}

.root select {
    border: 1px solid  #DBDBDB;
    background: none;
}

.root ul {
    list-style: none;
}

.root ul li {
    cursor: pointer;
}

.item.active {
    border: 1px solid grey;
}