.root {
    display: flex;
}

.more {
    box-sizing: border-box;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-right: 4.5px;
    background-color: #C4C4C4;
    color: #FFFFFF;
    width: 20px;
    height: 20px;
    padding-top: 2px;
    padding-left: 1px;
}

@media screen and (max-width: 768px) {
    .root {
        flex-wrap: wrap;
    }

    .more {
        margin-top: 8px;
        width: 17px;
        height: 17px;
    }
}