.root {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
}

.item {
    height: 300px;
    border-radius: 3px;
    display: grid;
    grid-template-rows: 6fr 1fr;
    grid-gap: 10px;
}

.image {
    background: #e4e4e4;
}

.details {
    background: #e4e4e4;
}