.root {
    text-align: left;
}

.root h1 {
    font-weight: 400;
    text-align: center;
}

.root h1 span:after {
    margin-left: auto;
}

.main {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-gap: 20px;
}

.couponCodeForm > div {
    width: 100%;
    box-sizing: border-box;
    display: block;
    border: none;
    padding: 0;
}

.couponCodeForm h3 {
    font-size: 12px;
    font-weight: 400;
    grid-column: 3/1;
}

.couponCodeForm h3 + div {
    margin-bottom: 0;
}

.couponCodeForm form {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.couponCodeForm input {
    border: 1px solid #D0CFCF;
    width: 100%;
}

.sidebar button {
    background: #5C94BD;
    width: 100%;
    border-radius: 0;
}

.steps {
    display: flex;
}

.step {
    padding: 5px;
    border: 1px solid #eaeaea;
    margin: 10px;
    border-radius: 3px;
    cursor: pointer;
}

.step.active {
    background: #5C94BD;
    color: white;
}