.root {
    padding: 10px;
    display: block;
}

.field {
    margin: 10px 0;
}

.orders {
    
}

.orders table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

.orders table th, .orders table td {
    border: 1px solid #E9E8E8;
    padding: 10px;
}

.empty {
    text-align: center;
}

@media(min-width: 768px) {
    .root {
        display: grid;
        grid-template-columns: 1fr 4fr;
        grid-gap: 20px;
    }
}