.bannerField img {
    width: 100%;
}

.body {
    max-width: 1309px;
    margin: auto;
}

.mapList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 15px;
    margin-top: 53px;
    grid-row-gap: 50px;
    margin-bottom: 84px;
}

.breadcrumbs {
    height: 42px;
    background: #2B525A;
    display: flex;
    align-items: center;
    margin-top: -4px;
    justify-content: center;
    text-transform: uppercase;
}

.breadCrumbsTextActive {
    color: #FFFFFF;
}

.breadCrumbsTextActive:hover {
    color: #FFFFFF !important;
}

.breadCrumbsTextLine {
    color: #878787;
    margin-left: 15px;
}

.breadCrumbsText {
    color: #878787;
    margin-left: 15px;
}

.content {
    composes: content from '../Banner/banner.module.css';
    display: none;
    height: 100%;
}

.content p {
    font-size: 32px;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}

.titleField {
    margin-top: 67px;
    margin-bottom: 67px;
    text-align: center;
    /*margin-top: 54px;*/
    /*margin-bottom: 68px;*/
}

.title {
    margin: 0;
    padding: 0;
    color: #2B3944;
    font-size: 32px;
    font-weight: 400;
}

.description {
    color: #2B3944;
}

.socialLinks {
    margin-top: 67px;
}

.linkField {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
}

.linkText {
    color: #2B3944;
    font-size: 18px;
}

.link {
    color: #2D828F;;
    font-size: 18px;
    margin-left: 10px;
    cursor: pointer;
}

.details {
    margin-top: 40px;
}

.detailsItem {
    color: #2B525A;
    font-size: 18px;
    margin-bottom: 16px;
    text-align: center;
}

.button {
    width: 100%;
    max-width: 416px;
    height: 45px;
    border: 1px solid #000000;
    box-sizing: border-box;
    background: none;
    color: #2B3944;
    font-size: 18px;
    margin-top: 21px;
    cursor: pointer;
}

.button:hover {
    color: #FFFFFF;
    background:  #1B1A1A;
}

.storeLocator {
    max-width: 416px;
}

.phoneButton {
    composes: button;
    background: #1B1A1A;
    border: 1px solid #000000;
    color: #FFFFFF;
    cursor: pointer;
}

.phoneButton:hover {
    background: #1B1A1A;
    border: 1px solid #000000;
    color: #FFFFFF;
}

.map iframe {
    max-width: 416px !important;
    max-height: 300px !important;
}

.map div  {
    max-width: 416px !important;
    max-height: 300px !important;
}

.map div {
    max-width: 416px !important;
    max-height: 300px !important;
}


@media screen and (max-width: 1360px) {
    .body{
        max-width: 860px;
    }
    .mapList{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 1100px) {
    .bannerField {
        width: 100%;
        overflow: hidden;
        text-align: center;
    }
 .bannerField :global(img){
     position: relative;
     left: 100%;
     max-height: 150px;
     margin-left: -200%;
 }
}

@media screen and (max-width: 930px) {

    .map iframe {
        max-width: 370px !important;
        max-height: 300px !important;
    }

    .map div  {
        max-width: 370px !important;
        max-height: 300px !important;
    }

    .map div {
        max-width: 370px !important;
        max-height: 300px !important;
    }
    .body {
        max-width: 755px;
    }
    .storeLocator{
        max-width: 370px;
    }
}


@media screen and (max-width: 775px) {
    .mapList{
        grid-template-columns: 1fr;
    }
    .bannerField :global(img){
        width: unset;
    }
    .body{
        max-width: 370px;
        margin-top: 23px;
    }
    .bannerField{
        position: relative;
    }
    .titleField{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        letter-spacing: 0.2px;
        color: #FFFFFF
    }
    .title{
        color: #FFFFFF;
        font-size: 28px;
    }

    .content {
        display: flex;
    }
}

@media screen and (max-width: 420px) {

    .body {
        max-width: 100%;
        width: 100%;
    }
    .mapList{
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 57px;
    }
    .map iframe {
        max-width: 100% !important;
        max-height: 300px !important;
        width: 100%;
    }

    .map div  {
        max-width: 100% !important;
        max-height: 300px !important;
        width: 100%;
    }

    .map div {
        max-width: 100% !important;
        max-height: 300px !important;
        width: 100%;
    }
    .descriptionField{
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 33px;
        margin-top: 23px;
    }
    .description{
        word-break: break-all!important;
    }
}