.root {
    
}

.button {
    background: none;
    border-radius: 71px;
    font-size: 13px;
    min-width: 7.5rem;
    padding: 15px 18px;
    font-weight: 700;
    transition-duration: 384ms;
    transition-property: background-color, color;
    text-transform: uppercase;
    line-height: 13px;
    color: black;
    border: 0;
    cursor: pointer;
    font-family: 'Roboto Condensed Regular';
}

.button:focus {
    outline: none;
}

.primary {
    background-color: #0177DB;
    color: white;
}

.secondary {
    background-color: transparent;
    border: 1px solid #0177DB;
    color: #0177DB;
}

.secondary:hover {
    background-color: #0177DB;
    color: #FFFFFF;
}

.iconOnly {
    padding: 10px;
    min-width: auto;
}