.root :global(.carousel) {
    text-align: right;
}

.root :global(.carousel) button[aria-label="previous"],
.root :global(.carousel) button[aria-label="next"] {
    background: #E7ECEF;
    border: none;
    width: 42px;
    height: 42px;
    font-size: 0;
    outline: none;
}

.root :global(.carousel) button[aria-label="previous"]:disabled,
.root :global(.carousel) button[aria-label="next"]:disabled {
    opacity: 0.5;
}

.root :global(.carousel) button[aria-label="previous"]:before,
.root :global(.carousel) button[aria-label="next"]:before {
    content: "\62";
    color: white;
    font-family: "fashionIcons";
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 14px;
    display: inline-block;
    color: #5C94BD;
}

.root :global(.carousel) button[aria-label="previous"] {
    margin-right: 6px;
}

.root :global(.carousel) button[aria-label="previous"]:before {
    transform: rotate(90deg);
}

.root :global(.carousel) button[aria-label="next"]:before {
    transform: rotate(-90deg);
}

.root :global(.carousel) :global(.carousel__slider--horizontal) {
    margin-top: 45px;
}

.root :global(.carousel) :global(.carousel__inner-slide) {
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    left: 10px;
}


@media (max-width: 500px) {
    .root :global(.carousel) :global(.carousel__slider--horizontal) li {
        padding-bottom: 20% !important;
    }
}